body {
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}

.btn {
  border: 2px solid black;
  box-shadow: 2px 0px 0px rgb(150, 163, 155);
  margin: 0.5em;
  transition: transform 0.2s;
}

.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  background-color: rgb(150, 163, 155);
}

/*containers */

.image-container {
  image-rendering: pixelated;
}

#app-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  height: 95vh;
  gap: 0.5em;
  width: 100%;
  max-width: 1000px;
}

#app-container > * {
  border-radius: 0.5rem;
  padding: 0.5em;
}

h3 {
  text-align: center;
  padding: 0em 2em;
}
/* pokedex formatting */
#pokedex {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 56, 56);
  border: 2px solid rgb(111, 35, 35);
  gap: 0.75em;
}

#pokedex-title {
  background-color: rgb(190, 36, 36);
  align-self: stretch;
  text-align: center;
  padding: 0.75em;
  margin: 0;
}
.ds-container {
  width: 90%;
  border-radius: 0.5em;
  background-color: rgb(190, 36, 36);
}

/* holds scrollable list of pokemon */
#top-ds-container {
  display: flex;
  flex-direction: column;
  height: 35%;
  overflow: auto;
  padding: 0.5em;
}

/* single pokmeon in list inside of dex */
.single-dex-entry {
  display: flex;
  flex: stretch;
  background-color: rgb(181, 207, 191);
  gap: 1em;
  padding: 0.1em;
  border: 1px dotted rgb(150, 163, 155);
  border-radius: 3px;
  cursor: pointer;
}
.single-dex-entry:hover {
  background-color: rgb(150, 163, 155);
}

/* pokemon-card holds single card info about selected pokemon*/

#bottom-ds-container {
  flex: 1 1 auto;
}
.pkm-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 1em;
}

.pkm-card-hdr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  background-color: rgb(181, 207, 191);
  border: 2px solid rgb(150, 163, 155);
  border-radius: 3px;
  margin-top: 1rem;
  padding: 1em;
  gap: 3px;
  height: 5vh;
}

div.pkm-card-hdr > h3 {
  margin-right: 0.5em;
  padding: 0.25em 0.5em;
  font-size: calc(0.8rem + 1.5vw);
}

div.pkm-card-hdr > div {
  padding: 0.5rem 0rem;
}

.pokemon-img {
  height: 100%;
  image-rendering: pixelated;
  padding: 0px;
  margin-left: 0.1rem;
}
.pkm-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background-color: rgb(181, 207, 191);
  border: 2px solid rgb(150, 163, 155);
}

.pkm-card-footer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

div.pkm-card-footer > * {
  overflow: visible;
}

.fa-plus {
  color: rgba(48, 48, 48, 0.726);
  border: 2px solid rgb(150, 163, 155);
  background-color: rgb(181, 207, 191);
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.2s;
  margin: 0.5em;
}

/* Catch-list */

#catch-list {
  background-image: url("images/450px-Hoenn_Route_110.png");
  background-size: cover;
}

/* Caught List */
#caught-list {
  background: linear-gradient(
    to right,
    rgb(162, 162, 162) 18%,
    rgb(130, 130, 130) 18% 20%,
    rgb(162, 162, 162) 20% 21%,
    rgb(130, 130, 130) 21% 23%,
    rgb(162, 162, 162) 24% 30%,
    rgb(130, 130, 130) 31% 43%,
    rgb(162, 162, 162) 43% 100%
  );
}

/* utility-classes */
.pixel-corners {
  clip-path: polygon(
    0px 4px,
    4px 4px,
    4px 0px,
    calc(100% - 4px) 0px,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0px calc(100% - 4px)
  );
}

.divider {
  width: 90%;
  margin: 0.75em;
  border: 2px solid rgba(109, 30, 30, 0.575);
  border-radius: 50%;
}
